@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('https://cdn.pixabay.com/photo/2016/08/31/17/02/blue-1634110__340.png') no-repeat top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 30px;
}

.contact-fome {
    max-width: 750px;
    margin: 0 auto;
    background: transparent;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.input-class,
.msg {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
}

.input-class,
.msg {
    width: 48%;
}

.input-class .input {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
    width: 100%;
}

.msg .input {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
    width: 100%;
}

::-webkit-input-placeholder {
    color: aquamarine;
}

::-moz-input-placeholder {
    color: aquamarine;
}

.btn input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    margin-bottom: 5%;
    margin-left: 20%;
    letter-spacing: 4px;
}

.btn input[type="submit"]:hover {
    background-color: black;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

input[type=file]::file-selector-button {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    background-color: transparent;
    color: white;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 5%;
    margin-left: 10%;
    letter-spacing: 4px;
}

input[type=file]::file-selector-button:hover {
    background-color: black;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

@media screen and (max-width: 600px) {
    .contact-fome {
        flex-direction: column;
    }

    .msg text-area {
        height: 80px;
    }

    .input-class,
    .msg {
        width: 100%;
    }
}